<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MaevaConnectionString" connectionString="Data Source=(localdb)\conexao;Initial Catalog=MaevaOLD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <roleManager defaultProvider="SqlProvider" enabled="true">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MaevaConnectionString" applicationName="\" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MaevaConnectionString" applicationName="\" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="50000">
    </sessionState>
    <customErrors mode="Off" defaultRedirect="~/Erro.aspx">
    </customErrors>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>